@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
  --azulclaro: #48D6ED;
  --azuloscuro: #337AB7;
  --azuloscurover: #3a80beb0;
  --azulnegro: #303342;
  --azulnegro2:#30334293;
  --negro: #333333;
  --negro2: #000;
  --gris: #B2B3B3;
  --fondo: #FFFEFC;
  --verdeazul: #157A8A;
  --Magenta: #9C2759;
  --blanco: #fff;
  --degradado: linear-gradient(49.54deg, #337AB7 2.89%, #0B3860 80.34%);
}
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
:root{
   --subtitulos: 'Marcellus', serif;
}

@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');

  :root{
  --roboto: 'Marcellus', serif;
  --roboto2: 'Roboto', sans-serif;
  }


*{
    margin:0;
}
/*Features*/
#features{
    background: url(../img/index/bg-features.png);
    color: white;
    padding-top: 1rem;
}

.features-title{
    background-color: rgba(0,0,0,0.35);
    text-align: center;
    padding: 0.5rem;
    font-size: 1.5em;
}

.features-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature{
    min-width: 150px;
    max-width: 180px;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.feature i{
    font-size: 2.2em;
    margin-bottom: 1.5rem;
}

.feature-blue{
    background-color: rgba(0, 50, 94, 0.682);
}

.feature-black{
    background-color: rgba(0,0,0,0.59);
}


/*Resolucion mobile*/
@media screen  and (min-width: 320px) {
    #container-grid {
        display: grid;
        grid-template:
            "nav" auto
            "banner" 400px
            "descripcion" auto
            "feature" auto
            "ubicacion" auto
            "opinion" auto
            "footer" auto
    }
    nav {
        grid-area: nav;
        display: grid;
        grid-template-areas:
            "logo"
            "menu";
        font-family: 'Marcellus', serif;
        font-size: 1.3em;
        position: fixed;
     width: 100%;
     z-index: 100; 

    }
    .logo {
        grid-area: logo;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas:
            "logo-img menu-bars";
        background-color: var(--negro2);
        padding: 1rem;
    }
    .logo img {
        justify-self: start;
        width: 50%;
        max-width: 180px;
    }
    .logo i {
        grid-area: menu-bars;
        justify-self: end;
        color: var(--blanco);
        font-size: 2rem;
    }
    .menu {
        grid-area: menu;
        display: grid;
        background-color: rgba(1, 10, 52, 0.838);
    }
    .menu-hr {
        width: 90%;
        background-color: var(--blanco);
        justify-self: center; /*para centrar el hr*/
    }
    
    
    .item {
        padding: 1rem 0;
    }
    
    
    nav a {
        color: var(--blanco);
        text-decoration: none;
        text-align: center;
    }
    
    
    nav a:hover {
        background-color: #0B3860;
        width: 100%;
    }
    
    
    .navbar-button {
        background-color: transparent;
        border: none;
        border-radius: 3px; 
        font-size: 1em;
        padding: 0.5rem;
        font-family: 'Marcellus', serif;
        color: var(--blanco);
    }
    #banner {
        background-image: url('../img/index//slide1.jpg');
        background-size: cover;
        background-position: 50% 50%;
        min-height: 400px;
        margin-top: 60px;
    }
    .texto{
        color: var(--blanco);
        margin-top: 64%;
        font-family: var(--roboto);
        font-size: 180%;
        background-color: var(--azulnegro2);
    }
    .reservas{
        background-color: var(--Magenta);
        width: 10%;
       margin-left: 90%;
       text-align: center;
       color: var(--blanco);
       margin-top: -30%;
      font-family: var(--roboto);
    }
    #descripcion{
        font-family: var(--roboto2);
    }        
    /*features*/
    #features{
        background: url(../img/index/bg-features.png);
        color: white;
        padding-top: 1rem;
    }
    
    .features-title{
        background-color: rgba(0,0,0,0.35);
        text-align: center;
        padding: 0.5rem;
        font-size: 1.5em;
    }
    
    .features-description{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .feature{
        min-width: 150px;
        max-width: 180px;
        margin: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    
    .feature i{
        font-size: 2.2em;
        margin-bottom: 1.5rem;
    }
    
    .feature-blue{
        background-color: rgba(0, 50, 94, 0.682);
    }
    
    .feature-black{
        background-color: rgba(0,0,0,0.59);
    }
    p.tex2{
        text-align: center;
        font-family: var(--roboto);
        font-size: 100%;
    }
    p.tex3{
        text-align: center;
        font-family: var(--roboto);
        font-size: 100%;
    }
    
}
/*Resolución tablet*/
@media screen and (min-width: 768px){
    .container-grid{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 50px;
        grid-template-areas: 
        "header header"
        "navbar navbar"
        "sidebar main" 
        "footer footer";
}
}

/*Resolución notebooks*/
@media screen and (min-width: 1024px){  
    nav{
        background-color: var(--negro2);
        grid-template-columns: 200px auto;
        grid-template-areas: 
        "logo menu";
}
.logo img{
    width: 200%;
 }
 .logo i{
    display: none;
 }
 .menu{
    background-color: var(--negro2);
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-self: end;
}
.menu-hr{
    display: none;
}
.item {
    margin: 0 1rem;
    align-self: center;
}


nav a {
    text-align: left;
}


nav a:hover {
    background-color: transparent;
    color: var(--azuloscuro);
}


.navbar-button {
    background-color: var(--azuloscuro);
    align-self: center;
}


 


 }

 /*Resolución resoluciones medias*/
@media screen and (min-width:1024px) {

}
/*Resolución resoluciones macro*/
@media screen and (min-width:1308px) {
    body{
        background-color: #EAEAEA;
    }
    #container-grid{
        max-width: 1300px;
        margin: 0 auto;
    }
    nav{
        width: 100%;
        max-width: 1300px;
    }

    }
