<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <title>dashboard</title>
</head>

<body class="bod">
    

    <div class="condash1">
        <h1 class="nomu">Bienvenido, Angie Vargas</h1>
        <br>
        <img src="../assets/img/foto.PNG" class="usuim">
        <br>
        <div class="des">
            <img src="../assets/img/descargar.png" class="descarga">
        </div>
        <br>
        <div class="cj">
            <label for="">Tipo de documento</label>
            <br>
            <input type="text" class="txt">
            <br>
            <br>
            <label for="">Nombres</label>
            <br>
            <input type="text" class="txt">
            <br>
            <br>
            <label for="">Fecha nacimiento</label>
            <br>
            <input type="date" class="txt">
            <br>
            <br>
            <label for="">Genero</label>
            <br>
            <div class="opciones">
                <input type="radio">Mujer
                <br>
                <input type="radio">Hombre
                <br>
                <input type="radio">Otro
            </div>
            <br>
            <label for="">Email</label>
            <br>
            <input type="text" class="txt">
            <br>
            <br>
            <label for="">Número de documento</label>
            <br>
            <br>
            <input type="text" class="txt">
            <br>
            <br>
            <label for="">Apellido</label>
            <br>
            <br>
            <input type="text" class="txt">
            <br>
            <br>
            <label for="">País de origen</label>
            <br>
            <br>
            <input type="text" class="txt">
            <br>
            <br>
            <label for="">Teléfono de contacto</label>
            <br>
            <br>
            <input type="text" class="txt">
            <br>
            <br>
            <button type="submit" class="btn">Actualizar</button>
            <br>
            <br>
            <br>
            <label for="">Contraseña</label>
            <br>
            <input type="password" class="txt">
            <br>
            <br>
            <label for="">Confirmar contraseña</label>
            <br>
            <input type="text" class="txt">
            <br>
            <br>
            <button type="submit" class="btn">Cambiar</button>
        </div>
        <div class="barr1">
            <br>
            <img src="../assets/img/Hotelia blanco vertical.svg" class="logodash">
            <img src="../assets/img/hotelia campana.svg" class="campana" id="campana">
            <br>
            <br>
            <img src="../assets/img/foto2.PNG" class="foto2">
            <br>
            <br>
            <br>
            <br>
          <br>
            <img src="../assets/img/cama.png" class="foto2">
            <div class="cjsdh">
            <img src="../assets/img/campana-del-hotel.png" class="foto2">
            </div>
            <img src="../assets/img/cama.png" class="foto2">
            <img src="../assets/img/campana-del-hotel.png" class="foto2">
            <br>
            <br>
            <br>
            <br>
            <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          
          <br>
          <br>
          <img src="../assets/img/cerrar-sesion.png" class="foto2">
          <br>
          <br>
          <br><br><br><br><br><br><br><br><br><br>
          <br><br><br><br><br><br><br><br><br><br><br><br></b>
        </div>
    </div>
</body>

</html>