<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <title>Form</title>
</head>

<body class="form">
    <div class="cjform1"> 
       <br>
        <img src="../assets/img/hotelia campana.svg" class="camp1">
        <br>
        <br>
        <img src="../assets/img/foto2.PNG" alt="" class="ft1">
        <br>
        <br>
        <img src="../assets/img/cama.png" alt="" >
        <br>
        <img src="../assets/img/cama.png" alt="">
        <br>
        <img src="../assets/img/editar.png" alt="" class="editar">
        <img src="../assets/img/cerrar-sesion.png" alt="" class="close">

    </div>
    <div class="form1">
        <div class="fr">
        <p class="txfr"> Registro de nueva habitación</p>
        <br>
        <br>
        <label for="">Nombre habitación</label>
        <br>
        <input type="text" name="" id="" class="for">
        <br>
        <label for="">N° habitación</label>
        <br>
        <input type="text" name="" id="" class="for">
        <br>
        <label for="">N° camas</label>
        <br>
        <input type="number" name="" id="" class="for">
        <br>
        <label for="">N° huespedes</label>
        <br>
        <input type="text" name="" id=""class="for">
        <br>
        <label for="">Valor reserva</label>
        <br>
        <input type="text" name="" id=""class="for">
        <br>
        <label for="">Imagen principal</label>
        <br>
        <input type="text" name="" id=""class="for">
        <br>
        <label for="">Imagen secundaria</label>
        <br>
        <input type="text" name="" id=""class="for">
        <br>
        <label for="">Descripcion</label>
        <br>
        <input type="text" class="for">
        </div>
        <br>
        <br>
        <div class="cofor">
            <div class="c">
                <input type="checkbox" id="cajafuerte"> <img src="../assets/img/caja-fuerte.png" alt="">
                <br>
                <input type="checkbox">
                <img src="../assets/img/copo-de-nieve.png" alt="">
            </div>
            <br>
            <br>
            <div class="ca">
                <input type="checkbox">
                <img src="../assets/img/ordenador-portatil.png" class="">
         
            <br>
            <input type="checkbox">
            <img src="../assets/img/campana-del-hotel (1).png" alt="">
            
            <br>
            </div>
            <div class="cb">
                <input type="checkbox">
                <img src="../assets/img/wifi.png" alt="">
                <br>

                <input type="checkbox">
                <img src="../assets/img/peso.png" alt="">

            </div>
            <br>
            <br>
        </div>
        <br>
        <button type="submit" class="rs">Registrar</button>
    <br>
    <br>
    </div>
    
</body>

</html>