<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <title>Habitaciones</title>
</head>

<body>

    <div class="cjform1">

        <img src="../assets/img/hotelia campana.svg" class="camp1">
        <br>
        <br>
        <img src="../assets/img/foto2.PNG" alt="" class="ft1">
        <br>
        <br>
        <img src="../assets/img/cama.png" alt="">
        <br>
        <img src="../assets/img/cama.png" alt="">
        <br>
        <img src="../assets/img/editar.png" alt="" class="editar">
        <img src="../assets/img/cerrar-sesion.png" alt="" class="close">

    </div>

    <div class="habitaciones">
        <div class="conto">
            <div class="n">
                <br>
                <br>
                <p class="he"> Habitaciones</p>
                <br>
                <br>
                <label for=""><b>Categoría</b></label>
                <select name="" id="" class="op">
                    <option value="">Todas</option>
                </select>
                <br>
                <br>
                <label for=""><b>Estado</b></label>
                <select name="" id="" class="op">
                    <option value="">Todas</option>
                </select>
            </div>
            <div class="con">
                <div class="cjh1">
                    <br>
                        <div class="c3" >
                            <img src="../assets/img/habitaciones/habitacion1.png" alt="" class="hab">
                            <div class="bb">
                                <p class="h">Habitacion doble</p>
                            </div>
                            <h2 class="precio">$128.000</h2>
                            <p class="r3">
                                Lorem ipsum dolor sit amet, consecta adipiscing elit. Elit quis enim ultricies
                                ullamcorper.
                                Nunc aenean auctor vel diam dictum.
                            </p>
                            <br>
                            <div class="botot">
                                <button type="submit" class="bt1">Modificar</button>
                                <button type="submit" class="bt2">Inactivar</button>
                            </div>
                        </div>
                </div>
            </div>
            <br>
            <br>
            <div class="con">
                <div class="cjh1">
                    <br>
                        <div class="c3" >
                            <img src="../assets/img/habitaciones/habitacion2.png" alt="" class="hab">
                            <div class="bb">
                                <p class="h">Habitacion doble</p>
                            </div>
                            <h2 class="precio">$128.000</h2>
                            <p class="r3">
                                Lorem ipsum dolor sit amet, consecta adipiscing elit. Elit quis enim ultricies
                                ullamcorper.
                                Nunc aenean auctor vel diam dictum.
                            </p>
                            <br>
                            <div class="botot">
                                <button type="submit" class="bt1">Modificar</button>
                                <button type="submit" class="bt2">Inactivar</button>
                            </div>
                        </div>
                </div>
            </div>
            <br>
            <br>
            <div class="con">
                <div class="cjh1">
                    <br>
                        <div class="c3" >
                            <img src="../assets/img/habitaciones/habitacion3.png" alt="" class="hab">
                            <div class="bb">
                                <p class="h">Habitacion doble</p>
                            </div>
                            <h2 class="precio">$128.000</h2>
                            <p class="r3">
                                Lorem ipsum dolor sit amet, consecta adipiscing elit. Elit quis enim ultricies
                                ullamcorper.
                                Nunc aenean auctor vel diam dictum.
                            </p>
                            <br>
                            <div class="botot">
                                <button type="submit" class="bt1">Modificar</button>
                                <button type="submit" class="bt2">Inactivar</button>
                            </div>
                        </div>
                </div>
            </div>
            <br>
            <br>
            <div class="con">
                <div class="cjh1">
                    <br>
                        <div class="c3" >
                            <img src="../assets/img/habitaciones/habitacion4.png" alt="" class="hab">
                            <div class="bb">
                                <p class="h">Habitacion doble</p>
                            </div>
                            <h2 class="precio">$128.000</h2>
                            <p class="r3">
                                Lorem ipsum dolor sit amet, consecta adipiscing elit. Elit quis enim ultricies
                                ullamcorper.
                                Nunc aenean auctor vel diam dictum.
                            </p>
                            <br>
                            <div class="botot">
                                <button type="submit" class="bt1">Modificar</button>
                                <button type="submit" class="bt2">Inactivar</button>
                            </div>
                        </div>
                </div>
            </div>
            <br>
            <br>
            <div class="con">
                <div class="cjh1">
                    <br>
                        <div class="c3" >
                            <img src="../assets/img/habitaciones/habitacion1.png" alt="" class="hab">
                            <div class="bb">
                                <p class="h">Habitacion doble</p>
                            </div>
                            <h2 class="precio">$128.000</h2>
                            <p class="r3">
                                Lorem ipsum dolor sit amet, consecta adipiscing elit. Elit quis enim ultricies
                                ullamcorper.
                                Nunc aenean auctor vel diam dictum.
                            </p>
                            <br>
                            <div class="botot">
                                <button type="submit" class="bt1">Modificar</button>
                                <button type="submit" class="bt2">Inactivar</button>
                            </div>
                        </div>
                </div>
            </div>
            <br>
            <br>
            <div class="con">
                <div class="cjh1">
                    <br>
                        <div class="c3" >
                            <img src="../assets/img/habitaciones/habitacion1.png" alt="" class="hab">
                            <div class="bb">
                                <p class="h">Habitacion doble</p>
                            </div>
                            <h2 class="precio">$128.000</h2>
                            <p class="r3">
                                Lorem ipsum dolor sit amet, consecta adipiscing elit. Elit quis enim ultricies
                                ullamcorper.
                                Nunc aenean auctor vel diam dictum.
                            </p>
                            <br>
                            <div class="botot">
                                <button type="submit" class="bt1">Modificar</button>
                                <button type="submit" class="bt2">Inactivar</button>
                            </div>
                        </div>
                </div>
            </div>

        </div>
        <br>
        <br>
        
    </div>
</body>

</html>