<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/hotelia/assets/css/estilos.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title> Maquetación Responsive</title>
</head>

<body>

    <nav class="ba">
        <div class="logo">
            <img src="/hotelia/assets/img/Hotelia horizontal blanco.svg">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="menu">
            <a href="index.html" class="item">Inicio</a>
            <a href="ubicanos.html" class="item">Ubícanos</a>
            <a href="opiniones.html" class="item">Opiniones</a>
            <hr class="menu-hr" noshade="">
            <a href="inicio.html" class="item"><button class="navbar-button"><i class="fa-solid fa-user"></i> Iniciar
                    Sesión</button></a>
        </div>
    </nav>


    <section id="banner">
        <img src="/hotelia/assets/img/index/slide1.jpg" class="slide1">
        <p class="texto"> Lorem ipsum dolor sit ameteliter,<br> consectetur adispincing elit.</p>
    </section>
    <div>
        <p class="reserva">
            <br>
            R
            <br>e
            <br>s
            <br>e
            <br>r
            <br>v
            <br>a
            <br>r <br>
            <br>
        </p>
    </div>
    <section id="descripcion">
        <p>
            Estamos ubicados en el barrio La Cabrera al norte de Bogotá, en un contexto de lujo donde interactúan los
            negocios, el ocio y el descanso, gracias a su estratégica ubicación rodeada de bancos, restaurantes de alta
            cocina, centros comerciales, almacenes de lujo y emblemáticos parques para aprovechar la naturaleza entre la
            ciudad caminay y hacer un poco de deporte al aire libre están el parque del Virrey y El Parque de la 93.
            Además de nuestro exclusivo diseño, ponemos a tu disposición una oferta gastronómica tan sofisticada como
            saludable a base de productos locales, cargados de lo mejor de la tradición colombiana.
        </p>
        <img src="/hotelia/assets/img/Hotelia negro vertical.svg" alt="Logo Hotelia" class="descripcion-logo" />
    </section>
    <section id="features">
        <h2 class="features-title">Razones por las que disfrutarás quedarte con nosotros</h2>
        <div class="features-description">
            <div class="feature feature-blue">
                <i class="fa-solid fa-bell-concierge"></i>
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="feature feature-black">
                <i class="fa-solid fa-bed"></i>
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="feature feature-blue">
                <i class="fa-solid fa-wifi"></i>
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="feature feature-black">
                <i class="fa-solid fa-dumbbell"></i>
                <p>Lorem ipsum dolor</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </section>
    <section id="ubicacion">
        <p class="tex2
        ">Ubícanos</p>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.2411476421712!2d-74.07529029824168!3d4.600365274798563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a7145ab8f5%3A0x2d21d11d2e75759e!2sCra.%208%20%23%2012%20A%2047%20Loc.%206%2C%20La%20Candelaria%2C%20Bogot%C3%A1%2C%20Cundinamarca!5e0!3m2!1ses-419!2sco!4v1690164402386!5m2!1ses-419!2sco"
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br>
        <br>
        <p class="tex3">AVENIDA CARRERA 8, #12A-42, BOGOTA DC, COLOMBIA</p>
        <br>
        <br>
        <hr>
        <P class="tex3">+57 601 4567899</P>
    </section>
    <br>
    <img src="/hotelia/assets/img/opinion/vector-comentarios.svg" class="comentarios">
    <p class="tex4">Nuestros usuarios dicen...</p>

    <section id="opiniones">
        <div class="opinion">
            <img src="../assets/img/opinion/Vector-opinion.png" class="op1">
            <img src="../assets/img/opinion/user1.png" class="imgop1">
            <p class="d1">Diego Rodriguez</p>
            <div class="contestre">
                <img src="../assets/img/estrella.png" class="estrella">
                <img src="../assets/img/estrella.png" class="estrella">
                <img src="../assets/img/estrella.png" class="estrella">
                <img src="../assets/img/estrella.png" class="estrella">
                <img src="../assets/img/estrellamrd.png" class="estrella">
            </div>
            <p class="lore">Lorem ipsum dolor sit amet, consecta adipiscing elit. Elit quis enim ultricies ullamcorper.
                Nunc aenean auctor vel diam dictum.</p>
        <br>
        <br>
        </div>
    </section>

    <br>
    <br>
    <br>
    <footer id="footer">
        <br>
        <div class="caja1">
        <p class="p1" id="pss">Lorem ipsum dolor sit amet, consecta adipiscing elit. Elit quis enim ultricies ullamcorper. Nunc aenean
            auctor vel diam dictum.</p>
            <br>
        </div>
        <hr class="linea">
        <br>
        <div class="caja2">
     <div id="con">
        <img src="../assets/img/ubicacion.png" alt="">
        <p class="p1">Avenida carrera 8, #12A-42, Bogota DC, Colombia</p>
      </div>
      <div id="con2">
         <p class="p1" id="tel">+57 601 4567899</p>
        <img src="../assets/img/llamada.png" class="llamada">
      </div>
    </div>
         <br>
        <hr class="linea">
        <br>
        <div class="caja3">
        <p class="p1" id="pp">Politicas de privacidad </p>
        </div>
        <hr class="linea">
        <div class="redes">
            <img src="../assets/img/instagram1.png" alt="">
            <img src="../assets/img/facebook1.png" alt="">
            <img src="../assets/img/gorjeo.png" alt="">
        </div>
        <br>
    </footer>
    </div>
</body>

</html>