<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilosgrid.css">
    <script src="https://kit.fontawesome.com/6131ecdde6.js" crossorigin="anonymous"></script>
    <title>index-grid</title>
</head>

<body>
    <div id="container-grid">
        <nav>
            <div class="logo">
                <img src="/hotelia/assets/img/Hotelia horizontal blanco.svg">
                <i class="fa-solid fa-bars"></i>
            </div>
            <div class="menu">
                <a href="index.html" class="item">Inicio</a>
                <a href="ubicanos.html" class="item">Ubícanos</a>
                <a href="opiniones.html" class="item">Opiniones</a>
                <hr class="menu-hr" noshade="">
                <a href="#" class="item">
                   <button class="navbar-button">
                     <i class="fa-solid fa-user"></i> Iniciar Sesión
                   </button>
                </a>                
         </nav>
         <section id="banner">
          <p class="texto">Lorem ipsum dolor sit ameteliter,<br> consectetur adispincing elit.</p>
        </section>
        <div>
            <p class="reservas">
                <br>
                 R
                <br>e
                <br>s
                <br>e
                <br>r
                <br>v
                <br>a
                <br>r <br>
                <br>
            </p>
        </div>
         <section id="descripcion">
            <p>
                Estamos ubicados en el barrio La Cabrera al norte de Bogotá, en un contexto de lujo donde interactúan los negocios, el ocio y el descanso, gracias a su estratégica ubicación rodeada de bancos, restaurantes de alta cocina, centros comerciales, almacenes de lujo y emblemáticos parques para aprovechar la naturaleza entre la ciudad caminay y hacer un poco de deporte al aire libre están el parque del Virrey y El Parque de la 93. Además de nuestro exclusivo diseño, ponemos a tu disposición una oferta gastronómica tan sofisticada como saludable a base de productos locales, cargados de lo mejor de la tradición colombiana.
            </p>
         </section>
         <section id="features">
            <h2 class="features-title">Razones por las que disfrutarás quedarte con nosotros</h2>
        <div class="features-description">
            <div class="feature feature-blue">
                <i class="fa-solid fa-bell-concierge"></i>
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="feature feature-black">
                <i class="fa-solid fa-bed"></i>
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="feature feature-blue">
                <i class="fa-solid fa-wifi"></i>
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="feature feature-black">
                <i class="fa-solid fa-dumbbell"></i>
                <p>Lorem ipsum dolor</p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
         </section>
         <section id="ubicacion">
            <p class="tex2">Ubícanos</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d994.2411476421712!2d-74.07529029824168!3d4.600365274798563!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f99a7145ab8f5%3A0x2d21d11d2e75759e!2sCra.%208%20%23%2012%20A%2047%20Loc.%206%2C%20La%20Candelaria%2C%20Bogot%C3%A1%2C%20Cundinamarca!5e0!3m2!1ses-419!2sco!4v1690164402386!5m2!1ses-419!2sco" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <p class="tex3">AVENIDA CARRERA 8, #12A-42, BOGOTA DC, COLOMBIA</p>
        <br>
        <br>
        <hr>
        <P class="tex3">+57 601 4567899</P>
         </section>
         <section id="opinion">
            <img src="../assets/img/opinion/vector-comentarios.svg" alt="">
         </section>
         <footer>
             Aqui el footer
         </footer>
 
    </div>
</body>

</html>