<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <title>Login</title>
</head>
<body id="c">  
 <div class="container2">
        <img src="../assets/img/login/vector-login.svg" class="v1">
       <img src="../assets/img/Hotelia horizontal negro.svg" class="v2">
        <div class="item1">
         <img src="../assets/img/usuario-de-perfil.png" class="v3">
         <br>
         <br>
         <label class="usuario">Usuario</label>
          <br>
          <input type="text">
          <br>
          <label class="contrasena">Contraseña</label>
          <br>
          <input type="password">
          <br>
          <br>
          <button id="button2">Ingresar</button> 
          <br>
          <br>
          <p class="p1" id="p2">¿No tienes una cuenta?</p>  <p class="p1" id="p2">Regístrate aquí.</p>
            <br></h3>
          <br>

        </div>  
    </div>
       
  
      
 
   
    
</body>
</html>