<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <title>Registro</title>
</head>

<body class="bob1">

    <div class="cjre1">
        <img src="../assets/img/Hotelia horizontal blanco.svg" class="lg">
        <P class="tex01">Un lugar en tu corazón</P>
    </div>
    <div class="registro">
        <p class="res">Regístrate</p>
        <br>
        <br>
        <div class="c1">
            <label for="">Tipo de documento</label>
            <br>
            <select name="select" id="" class="tx2">
                <option value="">Escoja una opción</option>
                <option value="value1">C.E</option>
                <option value="value2">C.C</option>
            </select>
            <br>
            <br>
            <label for="">Numero de documento</label>
            <br>
            <input type="text" class="tx2">
            <br>
            <br>
            <label for="">Nombres</label>
            <br>
            <input type="text" class="tx2">
            <br>
            <br>
            <label for="">Apellidos</label>
            <br>

            <input type="text" class="tx2">
            <br>
            <br>
            <label for="">Fecha de nacimiento</label>
            <br>
            <input type="date" class="tx2">
            <br>
            <br>
            <label for="">Email</label>
            <br>
            <input type="email" class="tx2">
            <br>
            <br>
            <label for="">País de origen</label>
            <select name="pais" id="" class="tx2">
                <option value="op1"></option>

            </select>
            <br>
            <br>
            <label for="">Contraseña</label>
            <br>
            <input type="password" class="tx2">

            <div class="caj2">
                <br>
                <label for="">Número de documento</label>
                <br>
                <input type="text" class="tx2">
                <br>
                <br>
                <label for="">Apellidos</label>
                <br>
                <input type="text" class="tx2">
                <br>
                <br>
                <label for="">Género</label>
                <br>

                <div class="contdas">
                    <input type="radio">Mujer
                    <br>

                    <input type="radio">Hombre
                    <br>

                    <input type="radio">Otro
                    <br>
                </div>
                <br>
                <br>
                <label for="">Telefono de contacto</label>
                <br>
                <input type="text" class="tx2">
                <br>
                <br>
                <label for="">Foto</label>
                <br>
                <input type="url" class="tx2">
                <br>
                <br>
                <label for="">Confirmar contraseña</label>
                <br>
                <input type="password" class="tx2">
                <br>
                <br>
                <div class="ter">
                    <p >Acepto terminos y condiciones</p>
                    <button type="submit" class="btn4"> Ingresar</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>